.sidebar{
    flex: 0.16;
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:760px){
    .sidebar{
        display:none;
    }
}